extends ../layout
block append script
  script(src='./javascripts/table.js')
block content
  .container
    if error_msg != null
      each item in error_msg
        .alert.alert-warning.alert-dismissible.fade.show(role='alert')
          p #{item.msg}
          button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;
    table#dtBasicExample.table.table-striped(style='text-align: center; font-size: 12px;')
      thead
        tr
          th(scope='col') ردیف
          th(scope='col') استان
          th(scope='col') شهرستان
          th(scope='col') شهر
          th(scope='col') واحد پستی
          th(scope='col') نوع واحد
          th(scope='col') وضعیت
          th(scope='col') شماره اموال
          th(scope='col') شماره سریال
          th(scope='col') نمایش و حذف
          th(scope='col') ویرایش